<html>
	<title>About</title>
	<% include ./navbar.ejs %>

<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}
	.share-btns {
		font-size: 18px;
	}
	h4 {
		font-weight: bold;
	}
</style>

<body>

	<div class='col-xs-10 col-xs-offset-1' style=" margin-top: 25px;">

		<h1>
			<b>About</b> <br> <br>
		</h1>


		<h4> What Does This Site Do? </h4>
		- <b> <a href="/top-match">Top Match</a></b> is the Facebook friend you have the most similar playlist to 
		<br>
		- <b> <a href="/random">Random</a></b> compares your profile to one of your friends
		<br>
		- <b> <a href="/friends">Friends</a></b> shows you which of your Facebook friends are on the app
		<br>
		- <b> <a href="/last-week">Last Week</a></b> shows your last week's Discover Weekly playlist
		<br>
		- Use the search box in the top right to find any user on the site
		<br> <br>

		<h4>  Friends  </h4>
		If none of your Facebook friends are registered with the app, a number of the features won't work. Plus, comparing your playlist to people you don't know isn't terribly exciting. Its much more fun to look at your friends' playlists!
		<br><br>

		<h4> Tell Your Friends! </h4>
		<div class ="share-btns">
			<a href='https://twitter.com/intent/tweet?text=Hi friends, check out www.discover-weekly.com so we can compare our gnarly Spotify playlists.'>Tweet</a> | <a class='facebook-share'>Share</a> | <a class='facebook-message'>Message</a>
		</div>
		<br> 

		<h4>  Why Make The Site?  </h4>
		I’m a big fan of Spotify’s Discover Weekly playlist. Since its release, I’ve been curious to look at my friends’ playlists and to see how similar or different they were. Unfortunately, Spotify makes it relatively difficult to find someone else's Discover Weekly, but hopefully this will fix part of the problem!
		<br><br>

		<h4>  How Does The Site Work?  </h4>
		The formula for calculating match percentage is pretty simply. Discover Weekly consists of 30 songs, performed by 30 artists. We total all the common artists and tracks between two playlist, divide by 60 (30+30=60) and then multiply by 100. So for eg, if you and Bill Withers have 5 tracks and 10 artists in common, your playlists have a 25% match rate. ((15/60) * 100 = 25%)!
		<br><br>
		
		<h4> Are you affiliated with Spotify? </h4>
		No. This is an app built on top of Spotify’s public api. 
		<br> <br>

		<h4> Help Me Make the App Better </h4>
		Feedback, suggestions, comments, or issues? Please email me at <a href="mailto:bot.industries@gmail.com" target="_top">bot.industries@gmail.com</a>

		<br> <br>
	</div>
	
</body>
</html>