<html>
	<% include ./navbar.ejs %>

<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}
	.share-btns {
		font-size: 18px;
	}
</style>

<body>

	<div class='col-xs-8 col-xs-offset-2' style="text-align: center; margin-top: 25px;">

		<h1>
			<b>About</b> <br> <br>
		</h1>


		<h4> <b> What Does This Site Do? </b> </h4>
		I’m a big fan of Spotify’s Discover Weekly playlist. Since its release, I’ve been curious to look at my friends’ playlists and to see how similar or different they were. This site lets you view, compare and listen to your friends’ DW playlists. 
		
		<br> <br>
		Your <b><a href="/top-match">Top Match</a></b> is the person you have the most similar playlist to. However, the site is more exciting if you use connect with <b><a href="/friends">Friends</a></b> through Facebook. 
		<br> <br>
		<b><a href="/random">Random</a></b> compares your profile to one of your Facebook friends' on the app. If none of them have registered, this feature will not work. 
		<br> <br>

		<h4> <b> Don't have a ton of Friends on the app? Invite Them! </b> </h4>
		<div class ="share-btns">
			<a href='https://twitter.com/intent/tweet?text=Hi friends, check out www.discover-weekly.com so we can compare our gnarly Spotify playlists.'>Tweet</a> | <a class='facebook-share'>Share</a> | <a class='facebook-message'>Message</a>
		</div>
		<br> <br>
		<h4> <b> Are you affiliated with Spotify? </b> </h4>
		No. This is an app built on top of Spotify’s public api. 
		<br> <br>
		<h4> <b> Issues or Suggestions? </b> </h4>
		Please email me at <a href="mailto:bot.industries@gmail.com" target="_top">bot.industries@gmail.com</a>

		<br> <br>
	</div>
	
</body>
</html>