<html>
	<% include ./navbar.ejs %>

<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}
</style>

<body>

	<div class='col-xs-8 col-xs-offset-2' style="text-align: center; margin-top: 25px;">
		Please forward inquiries and bugs to bot.industries [AT] gmail DOT com
	</div>
	
</body>
</html>