<html>

<title> Login </title>
<% include ./headers.ejs %>


<head>

	<meta property="og:title" content="Discover Weekly Matcher" />
	<meta property="og:url" content="http://www.discover-weekly.com" />
	<meta property="og:description" content="An interactive site to view, compare and listen to your friends’ Spotify Discover Weekly playlists" />

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
	.btn-info:focus {
		background-color: #324b81 !important;
		border-color: #324b81 !important;
	}
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}	

	h2 {
		text-align: center;
		font-size: 36px;
		margin-top: 75px;
	}

	.buttons {
		text-align: center; 
	}

	.explanation {
		font-size: 16px;
	}

	.btn-success { 
		background-color: #19b350;
		border-color: #19b350;
	}
	.btn-success:hover{
		background-color: #169d46;
		border-color: #107032;
	}
	.btn-info {
		background-color: #3b5998;
		border-color: #3b5998; 
	}
	.btn-info:hover {
		background-color: #324b81;
		border-color: #324b81;
	}
	

</style>

<body>

<script>
 
$(function() {

	$('.facebook-login-btn').click(function (){
		
		FB.login(function(response) {
			if (response.authResponse) {
			     $.post( "/facebook-login", response)
				 .done(function (data) {
				 	if (data.spotify){
				 		window.location.replace("/login");
				 	} else {
				 		window.location.replace("/auth/spotify");
				 	}
				 })
				 .fail(function (data){
					console.log('Failure')
				 });
		    } else {
		     	alert('Please Authorize the Discover-Weekly');
		    }

		}, {scope: 'user_friends'});

	});
	
});

</script>

	<div class='col-xs-8 col-xs-offset-2' style="text-align: center; margin-top: 50px;">

		<h1>
			<b> Discover Weekly Matcher</b> <br> <br>
		</h1>

		<div class="explanation">
			An interactive site to view, compare and listen to your friends’ Spotify Discover Weekly playlists 
		</div>

		<br> <br>
	</div>

	<div class = "col-xs-12 buttons">
		<% if (!facebook || !spotify) { %>
			<% if (!facebook) { %>
				<a href='#' class="facebook-login-btn btn btn-lg btn-info" role="button"> Log in with Facebook </a>
			<% } else { %>
				<a href='/auth/spotify' class="btn btn-lg btn-success" role="button"> Add Spotify </a>
			<% } %> 
		<% } else { %>
			<a href='/' class="btn btn-lg btn-success" role="button"> Discover </a>
		<% } %> 
	</div>

</body>

</html>
