<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	 <!-- Twitter web intent -->
    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>

	<!-- start Mixpanel -->
	<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("65e3524107236f7d0456fcd80cb69f5c");</script><!-- end Mixpanel -->

</head>

	<script type="text/javascript">
		$(function() {
			mixpanel.track("Page Hit");
		});
	</script>

	<style type="text/css">
	    .navbar {
	    	border-radius: 0px;
	    	border: none;
	    	background-color: #fff;
			font-family: Menlo, 'Andale Mono', monospace;
			font-style: normal;
			font-variant: normal;
 	 	}

 	 	.navbar-nav>li>a {
 	 		color: #1ed760 !important;
 	 	}
 	 	.navbar-nav>li>a:hover{
 	 		color: #19b350 !important;
 	 	}
 	 	a { 
			color: #1ed760;
		}
		a:hover{
			color: #19b350;
		}
		a:active {
			color: #19b350;
		}
		a:visited {
			color: #19b350;
		}
		.navbar-right {
			font-size: 16px;
		}
		.navbar-left {
			font-size: 18px;
		}
		.search-box {
			height: 30px;
    		margin-top: 10px;
		}
		.form-control:focus {
			border-color: #1ed760;
		}
		.navbar-toggle.navbar-left {
		  float: left;
		  margin-left: 10px;
		}
		.action-btns {
			font-size: 16px;
			text-align: center;
		}
		.action { 
			color: #239BC9;
		}
		.action:hover{
			color: #1e86ae;
		}
		.action:active {
			color: #1e86ae;
		}
		.action:visited {
			color: #1e86ae;
		}

		/* mobile navbar */
		@media (max-width: 767px) {
			.navbar-collapse {
				border-top: none !important;
				border-bottom: 1px solid transparent; 
			}
			.search-box {
				width: 50%;
    			margin-left: 10px;
			}
		}

	</style>

	<script>
 
	$(function() {

		$('.facebook-share').click(function (){
			FB.ui({
			  method: 'share',
			  href: 'www.discover-weekly.com',
			}, function(response){});
		});

	    $('.facebook-message').click(function(){
	    	FB.ui({
			  method: 'send',
			  link: 'www.discover-weekly.com'
			});
	    });
		

		window.fbAsyncInit = function() {
			FB.init({
				// appId      : '1504441939859902',
				appId      : '1505548576415905',
				xfbml      : true,
				version    : 'v2.5'
			});
		};
	  // Load the SDK asynchronously
	  (function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "//connect.facebook.net/en_US/sdk.js";
	    fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));

	});

	</script>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle navbar-left" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	    </div>

	   	<div class="collapse navbar-collapse" id="myNavbar">
	   		<ul class="nav navbar-nav navbar-left">
		    	<li> <a href="/"> Home </a></li>
		    	<li> <a href="/friends"> Friends </a></li>
		    	<li> <a href="/about"> About </a></li>
	    	</ul>
		
			<ul class="nav navbar-nav navbar-right">
				<li>
				<form action='/search' method='post'>
		        	<input name='search' type="text" id="search-text" class="form-control search-box" placeholder="Find User">
				</form>
				</li>
			</ul>
		</div> 

	  </div>
	</nav>

</html>
