<html>

<title> Not Found </title>

<% include ./navbar.ejs %>

<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}	

	h2 {
		text-align: center;
		font-size: 36px;
		margin-top: 75px;
	}
</style>

<body>
	<h2>
		Page Not Found
	</h2>
</body>
</html>