<html>

<title> Search </title>

<% include ./navbar.ejs %>
<% if (!users) {
	users = [];
}%>
<head>
	<script type="text/javascript" src= "/js/spotify.js"></script>
</head>

<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
	}	

	h2 {
		text-align: center;
		font-size: 36px;
		margin-top: 75px;
	}
	
	h3 { 
		text-align: center;
		font-size: 24px;
		margin-top: 20px;
	} 

	.profile-pic {
		width: 150px; 
		height: 150px;
		background-size:100% auto;
	}
	.profile-container { 
		text-align: center;
		margin-top: 50px;
	}
	.friend-user-name {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px; 
	}
	.friend-profile {
		background-position: center; 
		background-size:100% auto;
	}
</style>

<body>

	<div class='col-xs-offset-1 col-xs-10 friends-container'> 

	<% if (users.length < 1)  { %> 
		<h2>
			No Users Found
		</h2>
	<% } else { %> 
		<h2> 
			<%- title %>
		</h2>
		<%
			for (var i = 0; i < users.length; i++) {
				var id = (users[i].id) ? users[i].id : users[i].facebook_id; 
			%> 
			<% if (i%6==0) {  %> 
					<div class='row'> 
			<%  } %> 

			<a href='/user/<%- id %>'>
				<div class = "col-sm-2 col-xs-4 profile-container">
					<img class="friend-profile img-responsive" src="/img/hollow_circle.png" style='background-image:url(http://graph.facebook.com/<%- id %>/picture?type=large);'>
					<div class="friend-user-name"><%- users[i].name%></div>
				</div>
			</a>

			<% if (i%6==5) { %> 
				</div>
			<%  } %> 

		<% } } %>

	</div>

</body>
</html>