<html>

<title> Incomplete User </title>

<% include ./navbar.ejs %>

<style type="text/css">
	body {
		font-family: Menlo, 'Andale Mono', monospace;
		text-align: center;
	}	

	h2 {
		text-align: center;
		font-size: 36px;
		margin-top: 75px;
	}
</style>

<body>
	<h2>
		User Profile Incomplete
	</h2>
	<h4>
		This user did not complete setting up their profile :(
	</h4>

</body>
</html>